{% extends 'base.html' %} {% block title %}404{% endblock%} {% block hero_title
%}404 not found{% endblock %} {% block hero_subtitle %}Sorry looks like we can't
find the cupcake you are looking for{% endblock %} {% block content%}
<div class="container mt-0">
	<div class="columns">
		<div class="column is-4 is-offset-4 mt-0">
			<div class="card">
				<div class="card-image">
					<figure class="image is-256x256 is-1by1">
						<a href="/"><img src="/static/media/sad.jpg" alt=" image" /></a>
					</figure>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
